

<h1>testing a note here</h1>

<form method="POST" action="/job-notes/notes/<%=save.id%>">
    <div>
        <input type="text" name="note">
    </div>
    <div>
        <input hidden value="<%= job.id %>" name="jobId"/>
    </div>
    <input type="submit">
</form>

