<h3 class="text-center">Edit Comment</h3>

<form method="POST", action='/encounters/<%= id %>/?_method=PUT'>
    <div>
        <label>Notes</label>
        <input type="text" name="note" value="<%= note.note %>" placeholder="Add a note"> 
    </div>
    <div>
        <label>Date</label>
        <input type="date" name="date" 
        value="<%= note.date %>" required>
    </div>
    <div>
        <input type="submit">
        
    </div>
</form>