<h1>Saved Jobs Here:</h1>

<% saved.forEach(save => { %>
    <div>
        <h3><%= save.job.name %></h3>
        <h3><%= save.refs.landing_page %></h3>
        <h3><%= save.company.name %></h3>
        <h3><%= save.locations[0].name %></h3>
    </div>
<% }) %>