<h1>Saved Jobs Here:</h1>

<% saved.forEach(save => { %>
    <div>
        <h3><%= save.positionName %></h3>
        <h3><%= save.jobLink %></h3>
        <h3><%= save.company %></h3>
        <h3><%= save.location %></h3>
    </div>
<% }) %>