<h1>Search Results for:</h1>

<% jobs.forEach(job => { %>
    <div>
        <h3><%= job.name %></h3>
        <p><%= job.locations[0].name %></p>
<a href = '/jobs/info<%= job.id %>'>More details</a>


    </div>
<% }) %>

   